* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}


ul {
    border: 1px solid #ccc;
    width: 250px;
    padding: 25px 30px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.products {
    display: flex;
    margin-top: 25px;
}

img {
    max-width: 100%;
}